BOT_TOKEN=8713205799:AAHTY_ap9vtnIGJ8gNQcSQOb9MS1q-84LYo
MONGO_URI=mongodb+srv://ppp335412_db_user:YQ7gqdOYsSTdWakf@cluster0.tqqzsfz.mongodb.net/?appName=Cluster0
SOURCE_CHANNEL_ID=4452387875
ADMIN_CHAT_ID=8513020688
